{% block title %}

<title>Обновить курьера</title>

{% endblock %}


{% block styles %}

    <style>
    .btn-group button {
        background-color: #4CAF50; /* Green background */
        border: 1px solid green; /* Green border */
        color: white; /* White text */
        padding: 10px 24px; /* Some padding */
        cursor: pointer; /* Pointer/hand icon */
        width: 50%; /* Set a width if needed */
        display: block; /* Make the buttons appear below each other */
        margin: auto;
    }

    .btn-group button:not(:last-child) {
        border-bottom: none; /* Prevent double borders */
    }

    /* Add a background color on hover */
    .btn-group button:hover {
        background-color: #3e8e41;
    }

    </style>

{% endblock %}


{% block content %}

<h1 align="center">Обновить курьера</h1>

<div align="center">
<form action="http://localhost:8000/web/couriers/add">

    <table>

        <tr>
            <td>
                <label for="courier_id">Номер курьера: </label>
            </td>
            <td>
                <input type="text" id="courier_id" name="courier_id" value=""><br><br>
            </td>

        </tr>

        <tr>
            <td>
                <label for="courier_type">Тип курьера (foot, bike, car): </label>
            </td>
            <td>
                <input type="text" id="courier_type" name="courier_type" value=""><br><br>
            </td>
        </tr>

        <tr>
            <td>
                <label for="regions">Регионы работы: </label>
            </td>

            <td>
                <input type="text" id="regions" name="regions" value=""><br><br>
            </td>
        </tr>

        <tr>
            <td>
                <label for="working_hours">Рабочие часы: </label>
            </td>

            <td>
                <input type="text" id="working_hours" name="working_hours" value=""><br><br>
            </td>
        </tr>

    </table>

    <br>

    <div class="btn-group">
        <button type="submit" value="Submit">Обновить</button>
    </div>

</form>
</div>

<div class="btn-group">
    <button onclick="window.location.href='http://localhost:8000/web/couriers';">Назад</button>
</div>

{% endblock %}
