{% block title %}

<title>Меню заказов</title>

{% endblock %}


{% block styles %}

    <style>
    .btn-group button {
        background-color: #4CAF50; /* Green background */
        border: 1px solid green; /* Green border */
        color: white; /* White text */
        padding: 10px 24px; /* Some padding */
        cursor: pointer; /* Pointer/hand icon */
        width: 50%; /* Set a width if needed */
        display: block; /* Make the buttons appear below each other */
        margin: auto;
    }

    .btn-group button:not(:last-child) {
        border-bottom: none; /* Prevent double borders */
    }

    /* Add a background color on hover */
    .btn-group button:hover {
        background-color: #3e8e41;
    }
    </style>

{% endblock %}


{% block content %}

<h1 align="center">Меню заказов</h1>

<div class="btn-group">
    <button onclick="window.location.href='http://localhost:8000/web/orders/add/menu';">Сделать заказ</button>
    <button onclick="window.location.href='http://localhost:8000/web/orders/assign/menu';">Назначить заказ</button>
    <button onclick="window.location.href='http://localhost:8000/web/orders/complete/menu';">Завершить заказ</button>
</div>

<br>

<div class="btn-group">
    <button onclick="window.location.href='http://localhost:8000/web/main';">На главную</button>
</div>

{% endblock %}





