<!DOCTYPE html>

<html>

    <head lang="en">
        <meta charset="UTF-8">
        <title>Report</title>
    </head>

    <style>

        .data-table td {
            text-align: center;
        }

        .data-table {
            border-spacing: 0;
            border-collapse: collapse;
            width: 100%;
        }


        table,
        th,
        td {
            border: 1px solid black;
        }

        td, th {
          padding: 5px;
        }
    </style>

    <body>

        <div class="container">
            <h1> Report for {{ datetime }}</h1>
        </div>

        <hr>

        <div class="container">
            <h2>Couriers:</h2>

            <table class='data-table'>
                <tr><th>courier_id</th> <th>type</th> <th>regions</th> <th>working hours</th></tr>



                {% for courier in couriers %}

                <tr>

                <td> {{ courier.courier_id }} </td>
                <td> {{ courier.courier_type }} </td>
                <td> {{ courier.regions }} </td>
                <td> {{ courier.working_hours }} </td>

                </tr>

                {% endfor %}



            </table>



        </div>

        <div class="container">
            <br>
            <h2>Orders:</h2>

            <table class='data-table'>

                <tr>
                    <th>order_id</th>
                    <th>weight</th>
                    <th>region</th>
                    <th>is done</th>
                    <th>complete time</th>
                    <th>assigned courier</th>
                    <th>delivery hours</th>
                </tr>

            {% for order in orders %}
            <tr>

                <td> {{ order.order_id }} </td>
                <td> {{ order.weight }} </td>
                <td> {{ order.region_id }} </td>
                <td> {{ order.is_ready }} </td>
                <td> {{ order.complete_time }} </td>
                <td> {{ order.assign_id }} </td>
                <td> {{ order.delivery_hours }} </td>

            </tr>
            {% endfor %}

            </table>

        </div>

        <hr>

        <div class="container">
            MPEI 2021
        </div>

    </body>

</html>